<% meta_title "Готовые решения по сферам применения" %>

<h1>Готовые решения по сферам применения</h1>
<br>

<div class="row">
	<% @applications.each do |application| %>
		<div class="col-md-4 col-xs-6 application">
			<%= link_to application, class: 'no-border' do %>
				<% application.products.order("RANDOM()").first(4).each do |p| %>
					<%= image_tag p.thumbnail.url(:thumb), class: 'application-thumb' %>
				<% end %>
				<div class="clearfix"></div>
			<% end %>
			<div class="application-name">
				<h3><%= link_to application.name, application %></h3>
			</div>
		</div>
	<% end %>
</div>


<% if admin_signed_in? %>
	<%= link_to 'Новая сфера', new_application_path, class: "admin-edit-link-right" %>
<% end %>
