<h2>Напишите нам:</h2>

<form>
  <input type="text" class="form-field" placeholder="Имя*">
  <input type="text" class="form-field" placeholder="Телефон">
  <input type="text" class="form-field" placeholder="Электропочта">
  <textarea class="form-area" placeholder="Сообщение*"></textarea>
  <input type="submit" class="form-button" value="Отправить" />
</form>