<div id="footer" class="clearfix">
	<div class="row">
		<h2 id="contacts">Контактная информация</h2>
		<div id="form-wrapper" class="col-md-6 footer-wrappers clearfix">
			<div id="contact-form" class="clearfix">
				<input type="text" id="footer-form-name" class="form-field-footer" placeholder="Имя" />
				<input type="text" id="footer-form-contact" class="form-field-footer" placeholder="Телефон/электропочта" />
				<textarea id="footer-form-message" class="form-area-footer" placeholder="Сообщение"></textarea>
				<input type="submit" class="btn btn-primary btn-footer" value="Отправить сообщение" />
			</div>
		</div>
		<div id="contacts-wrapper" class="col-md-6 footer-wrappers clearfix">
			<div id="footer-contacts">
				<span>
					<p>(383) 349-94-84 (многоканальный)</p>
					<p>info@plast-tara.ru</p>
					<p id="address">г. Новосибирск, ул. Станционная 30/А, корпус 10</p>
				</span>
				<p>Въезд на территорию для отгрузки продукции и оформления документов через ул. Большая 145/2, КПП №10 (проходная завода «НЛК»).</p>
			</div>
		</div>
	</div>
</div>
	<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script><div style="overflow:hidden;height:400px;width:100%;position:relative;z-index:0;"><div id="gmap_canvas_f" style="height:400px;width:100%;"></div><style>#gmap_canvas_f img{max-width:none!important;background:none!important}</style><a class="google-map-code" href="https://www.map-embed.com" id="get-map-data_f">www.map-embed.com</a></div><script type="text/javascript"> function init_map(){var myOptions = {zoom:16,center:new google.maps.LatLng(55.009907,82.842856),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById("gmap_canvas_f"), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(55.009907, 82.842856)});infowindow = new google.maps.InfoWindow({content:"<b>&#1055;&#1083;&#1072;&#1089;&#1090;-&#1058;&#1072;&#1088;&#1072;</b><br/>&#1091;&#1083;. &#1057;&#1090;&#1072;&#1085;&#1094;&#1080;&#1086;&#1085;&#1085;&#1072;&#1103; 30/&#1040;, &#1082;&#1086;&#1088;&#1087;&#1091;&#1089; 10<br/>630108 &#1053;&#1086;&#1074;&#1086;&#1089;&#1080;&#1073;&#1080;&#1088;&#1089;&#1082;" });google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'page:load', init_map);google.maps.event.addDomListener(window, 'load', init_map);</script>