<div id="footer" class="clearfix">
	<div class="row">
		<div id="contacts-wrapper" class="footer-wrappers row clearfix">
			<h2>Контактная информация</h2>
			<div id="contact-form" class="clearfix">
				<input type="text" id="form-name" class="form-field" placeholder="Имя" />
				<input type="text" id="form-contact" class="form-field" placeholder="Телефон/электропочта" />
				<textarea id="form-message" class="form-area" placeholder="Сообщение"></textarea>
				<input type="submit" id="form-button" value="Отправить сообщение" />
			</div>
			<div id="footer-contacts">
				<p>(383) 349-94-84</p>
				<p>info@plast-tara.ru</p>
				<p id="address">г. Новосибирск, ул. Станционная 30/А, корпус 10</p>
			</div>
		</div>
		<div id="cert-wrapper" class="footer-wrappers clearfix">
			<h2>Сертификаты</h2>
			<%= image_tag("cert1.jpg", class: "certs") %>
			<%= image_tag("cert1.jpg", class: "certs") %>
		</div>
	</div>
</div>