<div class="row">
	<div id="production_menu">
		<% categories = Category.all %>
		<% block_width = 100.000/Category.count %>
		<% categories.each do |category| %>
			<%= link_to products_path(filter_category: category.id) do %>
				<div class="production_category" style="width:<%= block_width %>%;">
					<%= image_tag(category.icon, class: "category_icon") %>
					<% if category.id == @curr_cat_id %>
				  	<div class="category_name_menu category_name_menu_active">
				  <% else %>
				  	<div class="category_name_menu">
				  <% end %>
			     <div style="display: table-cell; vertical-align: middle;">
			       <div>
			         <%= category.name %>
			       </div>
			     </div>
			   </div>
				</div>
			<%end %>	
		<% end %>
	</div>
</div>