<div class="row">
	<div id="production_menu" class="clearfix">
		<div class="row-no-padding clearfix">
			<% categories = Category.all %>
			<% categories.each do |category| %>
				<%= link_to products_path(filter_category: category.id) do %>
					<% if category.id == @curr_cat_id %>
						<div class="production_category production_category_active clearfix">
					<% else %>
						<div class="production_category clearfix">
					<% end %>
						<%= image_tag(category.icon, class: "category_icon") %>
					 	<div class="category_name_menu">
					 		<div class="name_menu_aligner">
				      	<%= category.name %>
				      </div>
				    </div>
					</div>
				<%end %>	
			<% end %>
		</div>
	</div>
</div>


			       					