<h2>Корзина</h2>
<% if current_order.order_items.size > 0 %>
	<div class="cart-text">
		<%= link_to cart_button_text, cart_path, class: "btn btn-primary" %>
	</div>
<% else %>
	Пока что в корзине пусто.
<% end %>
