<div id="sidebar" class="clearfix">

	<%= render 'shared/sidebar_filter' %>

	<%= render 'shared/sidebar_search' %>
	
	<br>
	<div id="cart">
		<%= render 'shared/sidebar_cart' %>
	</div>

	<%= render 'shared/sidebar_admin' %>

</div>