<div id="sidebar" class="clearfix">

	<%= render 'shared/sidebar_filter' %>

	<%= render 'shared/sidebar_search' %>
	
	<%= render 'shared/sidebar_cart' %>

	<%= render 'shared/sidebar_admin' %>

</div>