<div class="row">
	<div id="slider">
		<div id="promo">
			<%= link_to image_tag("arrow-left.png", id: "arrow-left", class: "banner-arrow"), "#" %>
			<div id="promo-content">
				<%= image_tag("MOT.png") %>
				<div id="promo-text">
					<h1>Складские системы MOT</h1>
					<h2>От 120 рублей за штуку!&nbsp;&nbsp;&nbsp;&nbsp; <span><a href="#">Подробнее</a></span></h2>
					<p>Складские системы для хранения мелких или сыпучих изделий: метизов, деталей, инструментов, медикаментов, продуктов питания, полиграфии.</p>
				</div>
			</div>
			<%= link_to image_tag("arrow-right.png", id: "arrow-right", class: "banner-arrow"), "#" %>
		</div>	
	</div>
</div>