<% if @comparison.errors.any? || @comparison_item.errors.any? %>
	alert("Максимум три товара.");
<% else %>
  $('#comparison').html("<%=j render 'shared/sidebar_comparison' %>");

		$('#module-comparison-<%= @comparison_item.product_id %>').empty()
			.html('<%=j render 'comparison_items/remove_link', c: @comparison_item.product_id %>');
	
	infobox('<p>Добавлено <%= link_to " к сравнению", comparison_path, class: "admin-edit-link" %></p>');
<% end %>