// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or any plugin's vendor/assets/javascripts directory can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file.
//
// Read Sprockets README (https://github.com/sstephenson/sprockets#sprockets-directives) for details
// about supported directives.
//
//= require jquery
//= require jquery-ui
//= require jquery.turbolinks
//= require jquery_ujs
//= require bootstrap-sprockets
//= require cocoon
//= require turbolinks
//= require bxslider
//= require jquery-smooth-scroll
//= require magnific-popup
//= require froala_editor.min.js
//= require languages/ru.js
//= require plugins/char_counter.min.js
//= require plugins/code_beautifier.min.js
//= require plugins/code_view.min.js
//= require plugins/colors.min.js
//= require plugins/emoticons.min.js
//= require plugins/file.min.js
//= require plugins/font_family.min.js
//= require plugins/font_size.min.js
//= require plugins/fullscreen.min.js
//= require plugins/image.min.js
//= require plugins/image_manager.min.js
//= require plugins/link.min.js
//= require plugins/lists.min.js
//= require plugins/paragraph_format.min.js
//= require plugins/paragraph_style.min.js
//= require plugins/quote.min.js
//= require plugins/save.min.js
//= require plugins/table.min.js
//= require plugins/url.min.js
//= require plugins/video.min.js
//= require_tree .

// Fix navbar when scrolled
$(window).scroll(function(){
	if ($(this).scrollTop() > 90 && $(window).width() > 855) {
		$('#header-main-nav').addClass('navbar-fixed');
		$('#logo h1').addClass('hidden');
		$('#logo').addClass('logo-shrinked');
		$('#menu').addClass('menu-shrinked');
		$('#site-search').addClass('site-search-shrinked');
		$('#callme-shrinked').removeClass('hidden');
	} else {
		$('#header-main-nav').removeClass('navbar-fixed');
		$('#logo h1').removeClass('hidden');
		$('#logo').removeClass('logo-shrinked');
		$('#menu').removeClass('menu-shrinked');
		$('#site-search').removeClass('site-search-shrinked');
		$('#callme-shrinked').addClass('hidden');
	}
});


// Fix category menu when scrolled
$(window).scroll(function(){
	if ($(this).scrollTop() > ($('#slider').length > 0 ? 475 : 177) && $(window).width() > 855) {
		$('#production_menu').addClass('production_menu_fixed');
		$('#production-menu-inner').addClass('production-menu-inner-fixed');
		$('#main-content').addClass('main-content-fixed');
		$('.category_icon').addClass('category-icon-fixed');
		$('.category_name_menu').addClass('category-name-menu-fixed');
		$('#cat-menu-appearer').addClass('reveal');
		$('.production_category').addClass('production_category_fixed');
		$('#production-menu-inner').css('background', '#ccc');
	} else {
		$('#production_menu').removeClass('production_menu_fixed');
		$('#production-menu-inner').removeClass('production-menu-inner-fixed');
		$('#main-content').removeClass('main-content-fixed');
		$('.category_icon').removeClass('category-icon-fixed');
		$('.category_name_menu').removeClass('category-name-menu-fixed');
		$('#cat-menu-appearer').removeClass('reveal');
		$('.production_category').removeClass('production_category_fixed');
		$('#production-menu-inner').css('background', '#E8F5E9');
	}
});


// Init Froala Editor
$(function() {
	var modules = ['paragraphFormat', 'fontFamily', 'fontSize', '|', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|', 'color', 'emoticons', '|', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', '|', 'insertHR', 'insertLink', 'insertImage', 'insertVideo', 'insertFile', 'insertTable', '|', 'undo', 'redo', 'clearFormatting', 'fullscreen', 'html'];
	$('.froala').froalaEditor({
		language: 'ru',
		toolbarButtons: modules,
		toolbarButtonsMD: modules,
		toolbarButtonsSM: modules,
		toolbarButtonsXS: modules
	})
});

// And a bottle of rum!
$(document).ready(function(){
	$( "a:contains('nlicensed')" ).closest('div').remove();
});


// Toggle production menu
function toggleDiv(toggleId) {
   $("#"+toggleId).slideToggle(200);
}


// Initialize bxSlider
$(document).ready(function(){
	$('.bxslider').bxSlider({
		auto:($(".bxslider > li").length > 1) ? true: false,
		autoHover: true,
		pager: false
	});
});


// Initialize Magnific Popup
$(document).ready(function() {
	$('.image-popup-fit').magnificPopup({
		type: 'image',
		closeOnContentClick: true,
		mainClass: 'mfp-fade',
		removalDelay: 300,
		image: {
			verticalFit: true
		},
		gallery: {
			enabled: true, // set to true to enable gallery
			preload: [0,2], // read about this option in next Lazy-loading section
			navigateByImgClick: true,
			arrowMarkup: '<button type="button" class="mfp-arrow mfp-arrow-%dir%"></button>', // markup of an arrow button
			tCounter: '%curr% / %total%' // markup of counter
		}
	});
});


// Initialize Smooth Scroll
$(document).ready(function() {
	$('a.scroll').smoothScroll();
});


// Scroll to Top
$(document).ready(function() {
	
	$(window).scroll(function() {
		if ($(this).scrollTop() > 300) {
			$('.scroll-to-top').fadeIn();
		} else {
			$('.scroll-to-top').fadeOut();
		}
	});
	
	$('.scroll-to-top').click(function() {
		$('html, body').animate({scrollTop: 0}, 800);
	});
	
});


// Sortable Products
$(document).ready(function() {
	$('#products-sortable').sortable({
		items: '.product-prices-row',
		axis: "y",
		update: function() {
			$('#products-order').val($('#products-sortable').sortable('serialize'));
		}
	});
});


// Fade in table headings for edit prices and positions
$(document).ready(function() {
	
	function resizeBlock() {
		var blockWidth = $('.product-prices-price').width() - 1;

		$('.product-prices-headings-fixed').css('width', blockWidth);
		$('.product-prices-headings-fixed').css('margin-left',
														$('#content').width() - blockWidth - 1);
	}
	
	resizeBlock();
	
	$(window).resize(function() {
		resizeBlock();
	});
	
	if ($(window).scrollTop() > 325) {
			$('.product-prices-headings-fixed').fadeIn();
	}
	
	$(window).scroll(function() {
		if ($(this).scrollTop() > 325) {
			$('.product-prices-headings-fixed').fadeIn();
		} else {
			$('.product-prices-headings-fixed').fadeOut();
		}
	});
	
});


// Infobox
function infobox(text) {
	$('.infobox').html(text)
	
	if ($('.infobox').css('display') == 'none') {
		$('.infobox').slideDown("fast").delay(5000).slideUp("fast");
	} else {
		$('.infobox').finish().show().delay(5000).slideUp("fast");
	}
}


// Catalogue filter visibility
$(document).ready(function() {
	
	// Hide on load
	setTimeout(function() {
		hideFilters();
	}, 500);
	
	// Show on click
	$('#filter-title').on('click', '#show-filter', function(e) {
		e.preventDefault();
		showFilters();
	});
	
	// Hide on click
	$('#filter-title').on('click', '#hide-filter', function(e) {
		e.preventDefault();
		hideFilters();
	});
	
});

function hideFilters() {
	$('#catalogue-filter').slideUp(function() {
		$('#filter-title').html('<a href="#" id="show-filter">Показать фильтры</a>');
	});
}

function showFilters() {
	$('#catalogue-filter').slideDown(function() {
		$('#filter-title')
			.html('Фильтры <a href="#" id="hide-filter">скрыть</a>');
	});
}


// Submit order item form on blur
//$(document).ready(function() {
//	$('.cart-row .cart-quantity-form .cart-quantity').blur(function() {
//		$(this).closest('.cart-quantity-form').submit();
//	});
//});

//$(document).on('focus', '.cart-row .cart-quantity-form', function () {
//  $(this).on('blur', '.cart-quantity', function() {
//    $(this).closest('.cart-quantity-form').submit();
//  });
//});


// Submit order form on blur
$(document).ready(function() {
	$('.form-area-cart').blur(function() {
		$(this).closest("form").submit();
	});
	$('.form-field-cart').blur(function() {
		$(this).closest("form").submit();
	});
});


// Handle production menu aligning between desktop and mobile
$(document).ready(function() {
  
  if ($(document).width() < 855) {
    alignProdMenuVert();
  }
  
  $(window).resize(function(){
    if ($(document).width() < 855) {
      alignProdMenuVert();
    } else {
      alignProdMenuHor();
    }
  });
  
});

function alignProdMenuVert() {
  $('.production_category').css("width", "100%");
}

function alignProdMenuHor() {
  $('.production_category').css("width", "<%= ((100.0 / Category.count) * 1000).floor / 1000.0  %>%");
}