// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or any plugin's vendor/assets/javascripts directory can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file.
//
// Read Sprockets README (https://github.com/sstephenson/sprockets#sprockets-directives) for details
// about supported directives.
//
//= require jquery
//= require jquery_ujs
//= require bootstrap-sprockets
//= require ckeditor/init
//= require cocoon
//= require turbolinks
//= require bxslider
//= require jquery-smooth-scroll
//= require magnific-popup
//= require_tree .

// Fix navbar when scrolled
$(window).scroll(function(){
	if ($(this).scrollTop() > 90 && $(window).width() > 855) {
		$('#header-main-nav').addClass('navbar-fixed');
		$('#logo h1').addClass('hidden');
		$('#logo').addClass('logo-shrinked');
		$('#menu').addClass('menu-shrinked');
		$('#site-search').addClass('site-search-shrinked');
		$('#callme-shrinked').removeClass('hidden');
	} else {
		$('#header-main-nav').removeClass('navbar-fixed');
		$('#logo h1').removeClass('hidden');
		$('#logo').removeClass('logo-shrinked');
		$('#menu').removeClass('menu-shrinked');
		$('#site-search').removeClass('site-search-shrinked');
		$('#callme-shrinked').addClass('hidden');
	}
});

// Fix category menu when scrolled
$(window).scroll(function(){
	if ($(this).scrollTop() > ($('#slider').length > 0 ? 502 : 245) && $(window).width() > 855) {
		$('#production_menu').addClass('production_menu_fixed');
		$('#production-menu-inner').addClass('production-menu-inner-fixed');
		$('#main-content').addClass('main-content-fixed');
		$('.category_icon').addClass('category-icon-fixed');
		$('.category_name_menu').addClass('category-name-menu-fixed');
		$('#cat-menu-appearer').addClass('reveal');
		$('.production_category').addClass('production_category_fixed');
	} else {
		$('#production_menu').removeClass('production_menu_fixed');
		$('#production-menu-inner').removeClass('production-menu-inner-fixed');
		$('#main-content').removeClass('main-content-fixed');
		$('.category_icon').removeClass('category-icon-fixed');
		$('.category_name_menu').removeClass('category-name-menu-fixed');
		$('#cat-menu-appearer').removeClass('reveal');
		$('.production_category').removeClass('production_category_fixed');
	}
});

// Toggle production menu
function toggleDiv(toggleId) {
   $("#"+toggleId).slideToggle(200);
}

// Initialize bxSlider
$(document).ready(function(){
	$('.bxslider').bxSlider({
		auto:($(".bxslider > li").length > 1) ? true: false,
		autoHover: true,
		pager: false
	});
});

// Initialize Magnific Popup
$(document).ready(function() {
	$('.image-popup-fit').magnificPopup({
		type: 'image',
		closeOnContentClick: true,
		mainClass: 'mfp-fade',
		removalDelay: 300,
		image: {
			verticalFit: true
		},
		gallery: {
			enabled: true, // set to true to enable gallery
			preload: [0,2], // read about this option in next Lazy-loading section
			navigateByImgClick: true,
			arrowMarkup: '<button type="button" class="mfp-arrow mfp-arrow-%dir%"></button>', // markup of an arrow button
			tCounter: '%curr% / %total%' // markup of counter
		}
	});
});


// Initialize Smooth Scroll
$(document).ready(function() {
	$('a.scroll').smoothScroll();
});