<% if @order.errors.any? || @order_item.errors.any? %>
alert("Продукт недоступен для заказа или уже в корзине");
<% else %>
  $("#cart").html("<%=j render 'shared/sidebar_cart' %>");
	
	$('#module-cart-<%= @order_item.product_id %>').empty()
		.html('<%=j render 'order_items/remove_link', o: @order_item.product_id %>');
	
	infobox('<p>Добавлено <%= link_to " в корзину", order_path, class: "admin-edit-link" %></p>');
<% end %>