<p>Привет, <%= @resource.email %>!</p>

<p>Кто-то запросил изменение вашего пароля на сайта plast-tara.ru. Вы можете сделать это, воспользоваашись этой ссылкой:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не запрашивали смену пароля, просто проигнорируйте это письмо.</p>
<p>Ваш пароль не будет изменен, пока вы не воспользуетесь ссылкой выше.</p>
