
<% if @curr_cat_id.present? %>
	<% title = Category.find(@curr_cat_id).name %>
<% elsif @search_request.present? %>
  <% title = "Поиск по запросу" + " «" + @search_request + "»" %>
<% else %>
	<% title = "Каталог продукции" %>
<% end %>
<% meta_title title %>
<h1><%= title %>&nbsp;&nbsp;&nbsp;&nbsp;<%= render 'sort' %></h1>

<div id ="products-index-wrapper">
  <% @products.each do |product| %>
		<%= render 'product_module', product: product  %>
  <% end %>
</div>

<br>

<% if admin_signed_in? %>
	<%= link_to 'Новый продукт', new_product_path, class: "admin-edit-link-right" %>
<% end %>


