<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Сообщение с сайта plast-tara.ru</h2>
		<p><b>Имя:</b> <%= @name %></p>
		<p><b>Контактная информация:</b> <%= @contact %></p>
		<% if @message.present? %>
			<p><b>Сообщение:</b> <%= @message %></p>
		<% end %>
  </body>
</html>
